body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.logo { 
    width: 100px;
    margin-bottom: 60px;
}

#countdown {
    font-size: 3rem;
    margin: 20px 0;
    color: #007BFF;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul { 
    list-style-type: inherit;
    padding-left: 0;
}

li {
    margin: 5px 0;
}
